<div class="main-container">
  <div class="parallax-background"></div>

  <div class="profile-section">
    <a href="https://www.linkedin.com/in/katerina-bcn/" target="_blank">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D03AQEONdwx4nfw8Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1729458944885?e=1761177600&v=beta&t=8_VbObtXXjFsNzNSq_GNdnfC3nuiI86_SGh3XYFnrpY"
        alt="Ekaterina Nosova Profile Picture"
        class="profile-image"
      />
    </a>
    <h1>Ekaterina Nosova</h1>
    <h2>Full-Stack Developer</h2>
    <div class="location">
      <span class="location-icon">📍</span> Lives in Barcelona
    </div>

    <div class="social-icons">
      <a href="https://www.linkedin.com/in/katerina-bcn/" target="_blank">LinkedIn</a>
      <a href="https://github.com/yekater" target="_blank">GitHub</a>
    </div>
  </div>

  <div class="content-section">
    <h2>My Hobbies</h2>
    <div class="hobbies-container">
      <div class="hobby-item">
        <h3>Vibe Coding</h3>
        <a href="https://www.google.com/maps/d/edit?mid=1JQorvPwGZBYmOQQv-vU3VVtM0ljkWxc&ll=41.398069406907034%2C2.1443930371991238&z=15" target="_blank">
          <iframe
            src="https://www.google.com/maps/d/embed?mid=1JQorvPwGZBYmOQQv-vU3VVtM0ljkWxc&ehbc=2E312F"
            width="640"
            height="480"
          ></iframe>
        </a>
      </div>
      <div class="hobby-item">
        <a
          href="https://castellersdebarcelona.cat/"
          target="_blank"
          class="hobby-link"
        >
          <h3>Castells</h3>
          <img
            src="https://www.barcelona.cat/culturapopular/sites/default/files/styles/galeria__500x280_/public/galeria/600castellers_barcelona1_1.jpg?itok=v71rY45u"
            alt="Castells"
            class="hobby-image"
          />
        </a>
      </div>
      <div class="hobby-item">
        <a
          href="https://gdg.community.dev/gdg-barcelona/"
          target="_blank"
          class="hobby-link"
        >
          <h3>Developers Event Organizing</h3>
          <img
            src="https://res.cloudinary.com/startup-grind/image/upload/c_limit,dpr_2,f_auto,g_center,h_1440,q_auto:good,w_2048/v1/gcs/platform-data-goog/chapter_photos/DSC08857%2520%25281%2529.JPG"
            alt="Developers Event Organizing"
            class="hobby-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>