<div class="main-container">
  <a href="https://www.linkedin.com/in/katerina-bcn/" target="_blank">
    <h1>Ekaterina Nosova</h1>
  </a>
  
  <img 
    src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,w_250,h_250,g_center/c_fill,dpr_2.0,f_auto,g_center,q_auto:good/v1/gcs/platform-data-goog/avatars/ekaterina_nosova_p5skaf8.png" 
    alt="Ekaterina Nosova Profile Picture" 
    class="profile-image" 
  />

  <h2>My Hobbies</h2>
  <div class="hobbies-container">
    <div class="hobby-item">
      <div class="hobby-info">
        <h3>Vibe Coding</h3>
      </div>
      <iframe src="https://www.google.com/maps/d/embed?mid=1JQorvPwGZBYmOQQv-vU3VVtM0ljkWxc&ehbc=2E312F" width="100%" height="250px"></iframe>
    </div>
    <div class="hobby-item">
      <div class="hobby-info">
        <h3>Castells</h3>
      </div>
      <img src="https://www.barcelona.cat/culturapopular/sites/default/files/styles/galeria__500x280_/public/galeria/600castellers_barcelona1_1.jpg?itok=v71rY45u" alt="Castells" class="hobby-image"/>
    </div>
    <div class="hobby-item">
      <div class="hobby-info">
        <h3>Developers Event Organizing</h3>
      </div>
      <img src="https://res.cloudinary.com/startup-grind/image/upload/c_limit,dpr_2,f_auto,g_center,h_1440,q_auto:good,w_2048/v1/gcs/platform-data-goog/chapter_photos/DSC08857%2520%25281%2529.JPG" alt="Developers Event Organizing" class="hobby-image"/>
    </div>
  </div>
</div>